.canvasjs-chart-credit {
    display: none;
    visibility: hidden;
}

.chart-container {
    p {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
}

.chart-version {
    font-size: 0.8rem;
    font-weight: normal;
}

.chart {
    h2 {
        margin-top: 0;
        margin-bottom: 0.2rem;
        text-align: center;
    }
}