main {
  min-height: 75vh;
  padding-top: 90px;
  padding-bottom: 1rem;
}

.page-heading {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
  #root {
    .MuiContainer-root {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

/**************************************************
// Home page layout *******************************
// Author: Dalbir Singh ***************************
***************************************************/

// Hero section

.wrapper-hero {
  position: relative;
  margin-top: -90px;
  padding-top: 90px;
  padding-bottom: 5rem;
  background-image: url(../images/hero-image-900x600.jpg);
  background-image: image-set(
    url(../images/hero-image-900x600.jpg) 1x,
    url(../images/hero-image-1920x1278.jpg) 2x,
    url(../images/hero-image-2560x1703.jpg) 3x
  );

  // <span>Photo by <a href="https://unsplash.com/@alex_andrews?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alexander Andrews</a> on <a href="https://unsplash.com/collections/10637370/desktop-backgrounds?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

  background-position: top;
  background-size: cover;
  min-height: 94vh;
  color: $color__green-light2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 50% 100%, 0% 93%);

  h1,
  h2,
  p {
    color: #ffffff;
  }

  @media screen and (min-width: 800px) {
    height: 99vh;

    > div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.hero-container {
  display: grid;
  gap: 3rem;

  .hero-text {
    min-width: 200px;
    text-align: center;
  }

  .hero-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;

    &:hover {
      color: $color__green-dark;
    }
  }

  .hero-image {
    padding: 0.5rem;
    background-color: #4242424d;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px #636262a2;
  }
}

@media screen and (min-width: 800px) {
  .hero-container {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;

    .hero-text {
      text-align: left;
    }

    .hero-image {
      padding: 1rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero-container {
    gap: 6rem;
  }
}

#historical-chart {
  .chart-container {
    .axis {
      display: none;
    }

    .chart-version {
      color: white;
      text-align: center;
      flex-basis: 50%;
    }

    .chart-info {
      font-style: normal;
    }
  }
}

//  Home Feature Section

.home-features-container {
  margin: 2.5rem 0;
  background-color: $color__green-light2;
  padding: 4rem;
  h2 {
    text-align: center;
    font-size: $font__size-xxxl;
    margin: 0;
  }

  .home-features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .features {
      flex-basis: 25%;
      padding: 1.5rem;
      text-align: center;
      h3 {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .home-features {
      flex-flow: row wrap;

      .features {
        flex-basis: 100%;

        img {
          max-width: 50%;
          height: auto;
        }
      }
    }
  }
}

/**************************************************
// Home page layout End ***************************
/**************************************************/

/**************************************************
// CTA Section layout START ***************************
/**************************************************/

.site-cta {
  background-color: $color__green-light2;
  border-radius: 0.25rem;
  padding: 1rem;
  padding-top: 2rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.form-newsletter {
  background-color: white;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  label {
    margin: 0.5rem;
    flex-grow: 1;

    input {
      width: 100%;
      background-color: white;
      border-width: 2px;

      &:focus {
        color: $color__green-light;
      }
    }
  }

  input[type="submit"] {
    margin: 0.5rem;
    flex-basis: 100%;

    @media screen and (min-width: 500px) {
      max-width: 200px;
      flex-basis: 200px;
    }
  }

  input {
    height: 2.5rem;
  }
}

/**************************************************
// CTA Section layout END ***************************
/**************************************************/

/**************************************************
// calculator layout Start ***************************
// Author: Dalbir Singh ***************************
/**************************************************/

// Tab Panel *******************************

.carbon-calculator {
  max-width: 1100px;
  margin: auto;

  @media screen and (min-width: 1440px) {
    max-width: 1280px;
  }

  @media screen and (min-width: 600px) {
    .tab-slider {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.tab-panel {
  h3 {
    text-align: center;
    margin: 0;
  }

  .tab-nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;
    z-index: 99;

    display: flex;
    align-items: center;

    div:first-of-type,
    div:last-of-type {
      cursor: pointer;
      padding: 0.4rem;
      height: 2.5rem;
      font-size: 2rem;
      line-height: 1rem;
      display: none;
    }

    .tab-slider {
      overflow-x: hidden;
      position: relative;
      width: 100%;
    }

    ul {
      // position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: stretch;

      transform: translateX(0);
    }

    li {
      height: 2.5rem;
      cursor: pointer;
      outline-width: 0;
      display: block;
      flex: 1 1 auto;
      text-align: center;
      background-color: $color__green-light2;
      border: 1px solid #68d5b5;
      min-width: 60px;
      padding: 0.4rem;
      margin: 0;
      margin-right: 2px;
      margin-left: 2px;

      span:first-child {
        display: inline;
      }

      span:last-child {
        display: none;
      }

      @media screen and (min-width: 600px) {
        min-width: 100px;

        span:first-child {
          display: none;
        }
        span:last-child {
          display: inline;
        }

        &:last-of-type {
          min-width: 260px;
        }
      }

      @media screen and (min-width: 1000px) {
        min-width: 200px;
      }
    }

    .activeTab {
      border-bottom: 4px solid $color__green-light;
    }
  }

  .tab-container > div {
    display: none;

    &.active {
      display: block;
    }
  }
}

.tab-container {
  // border: 1px solid #68d5b5;
  // border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.tab-container > div {
  margin-top: 0;
  padding-bottom: 1rem;
  min-height: 80vh;
  // height: calc(100vh - 130px);
  // max-height: calc(100vh - 130px);
  // overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #00000033;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(18, 204, 89);
    outline-width: 1px solid green;
  }

  #section-heading {
    background-color: transparent;
    text-align: center;
    padding: 0;
    margin: 0;

    h2 {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.container-input {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 300px;

  & > div {
    margin-top: 0;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Fun fact container
.fact-container {
  padding: 5px;
  background-color: $color__green-light;
  color: $color__green-light2;

  &:before {
    content: "\f5c2";
    margin-right: 3px;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}

// React select dropdown form fields
.react-dropdown-select {
  max-width: 100%;

  .react-dropdown-select-dropdown {
    width: 100%;
    min-width: 200px;
    top: 40px;
    position: absolute;
  }
}

.container-logo-input {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  align-items: flex-start;

  .container-logo {
    padding-top: 3rem;
    padding-left: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .container-input {
    order: -1;
    flex-grow: 0;
    flex-basis: 75%;
  }
}

#food-dynamic-entries > div {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    flex-grow: 1;
    border-left: 0.3rem solid $color__green-light;
    background-color: $color__green-light2;
    padding: 6px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.item-remove-button {
  padding: 0.05rem 0.5rem;
  background-color: transparent;
  border: 1px solid $color__green-dark;
  line-height: 1;
  height: 1.8rem;
  color: $color__green-dark;
  margin-left: 0.5rem;

  &:hover {
    background-color: rgba(211, 2, 2, 0.658);
    color: $color__green-light2;
  }
}

// common grid layout for all tab-container's (Food, Flight, Travel, Result)

.tab-container {
  .tab-content {
    & > div {
      border-radius: 0.5rem;
      background-color: #f8f8f8;
      padding: 0.4rem;
      margin-bottom: 1rem;
      height: calc(100% - 1rem);

      @media screen and (min-width: 600px) {
        padding: 1rem;
      }

      @media screen and (min-width: 1000px) {
        padding: 1rem 2rem;
      }
    }
  }

  @media screen and (min-width: 800px) {
    .tab-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
      row-gap: 1rem;
      align-items: start;
      align-content: stretch;
    }

    .full-width {
      grid-column: span 2;
    }
  }
}

// Food Section ****************************

.carbon-print-food-revealed-container {
  .emphasis {
    font-size: 120%;
    color: $color__green-light;
    font-weight: bold;
  }

  .food-equivalent-car {
    .car-icon {
      // color: red;
      font-size: 120%;
      font-weight: bold;

      &:after {
        color: $color__text-main;
        content: "\f1b9";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 160%;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;

        margin-left: 6px;
        margin-right: 6px;
      }
    }

    .car-kms {
      position: relative;
      font-size: 120%;
      font-weight: bold;
    }
  }
}

.carbon-print-food-united-revealed-container {
  p {
    text-align: center;
  }
}

.light-green-background {
  padding: 1.5rem;
  background-color: $color__green-light2;
  border: 2px solid $color__green-light;
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  .section-column-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .food-chart-section,
    .reduce-carbon-chart-section {
      flex-shrink: 0;
      flex-basis: 65%;
      width: 60%;
      order: -1;
      max-width: 620px;
    }

    .chart-info-section {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      order: 1;
    }
  }
}

.chart-info-section,
.explanation-container {
  border-left: 3px solid $color__green-light;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  background-color: $color__green-light2;

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}

.chart {
  .chart-container {
    margin-bottom: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .axis,
    .chart-version {
      text-align: left;
      font-family: $font__heading;
      color: $color__green-dark;
      font-size: $font__size-sm;
    }

    .axis {
      flex-basis: 65%;
    }
    .chart-version {
      flex-basis: 35%;
    }

    .chart-version {
      text-align: right;
    }

    .y2-axis {
      display: none;
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .chart-info {
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: #cccccc;
    color: $color__green-dark;
    font-size: 90%;
    padding: 0.5rem;
    width: 100%;
  }
}

.diet-display-container h3,
.reduce-food-cfp-container h3 {
  font-family: $font__heading;
  margin-bottom: 0.5rem;
  text-align: left;
}

.reduce-food-cfp-container-eat-local {
  .axis {
    display: none;
  }

  .chart-container {
    .chart-version {
      text-align: center;
    }
  }
}

// Flight Section
.tab-container {
  .flight-main-container {
    .how-to-reduce {
      background-color: transparent;
      text-align: center;
    }
  }
}

.flight-main-container {
  .emphasis {
    color: $color__green-light;
    font-size: 110%;
  }

  .container-input {
    & > div {
      margin-bottom: 0.6rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    > div > input {
      padding: 0.4rem;
      width: 100%;
    }

    > div > div {
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border: 1px solid #cccccc;
      border-radius: 3px;
      box-shadow: 1px 2px 3px #cccccc;

      li {
        padding: 0.25rem;
        font-size: 90%;

        &:hover {
          background-color: $color__green-light;
        }
      }
    }

    .connecting-flight-radio-group,
    .flight-radio-group {
      > div {
        padding: 6px 8px !important;
        border-radius: 16px !important;
        background-color: $color__green-light2;

        > div {
          color: #807f7f !important;

          > div:last-child {
            height: 22px !important;
            width: 22px !important;
            margin: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      & > div {
        padding: 0.25rem;
        border: 2px solid $color__green-dark;
      }
    }
  }
}

.economy-class-flight-container,
.non-stop-flight-container {
  .chart {
    .axis {
      display: none;
    }

    .chart-version {
      flex-basis: 100%;
      text-align: center;
    }
  }
}

// Travel Section

.travel-main-container {

  .logo-input-container{

    grid-column: span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .input-container {
      flex-basis: 75%;
      background-color: #f8f8f8;
      padding: 1rem;
      border-radius: 0.5rem;

      input {
        max-height: 36px;
      }

      button {
        margin: 1rem 0;
        background-color: $color__green-dark;
        color: white;
      }
    }

    .logo-container{
      flex-basis: 20%;
     
    }

  }   



  @media screen and (min-width: 800px) {
   

    .logo-input-container{
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .car-result-container{
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .how-to-reduce{
      grid-column: span 2;
      background-color: white;
      text-align: center;
    }
   
    #how-to-reduce-heading{
      background-color: white;
    }

    .green-vehicle-container{
      grid-column: 1/3;
      grid-row: 4/5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      .green-vehicle-content{
        grid-column: 1/2;
      }

      .chart{
        grid-column: 2/3;
      }
    }
  

    .drive-better-container{
      grid-row: 5/6;
      grid-column: span 2;
    }
  }
}

.car-result-container {
  // background-color: $color__grey-light;
  p {
    font-family: $font__body;
    color: $color__green-dark;
    font-weight: bold;
  }

  .chart-container {
    .axis {
      display: none;
    }

    .chart-version {
      font-size: 1rem;
      font-weight: normal;
      font-family: $font__heading;
      text-align: center;
    }
  }
}


.reduce-carbon-foot-print {
  h2,
  p {
    margin: 0;
  }
  p {
    font-family: $font__body;
    margin-bottom: 0.75rem;
  }
}

.green-vehicle-container {
  .chart-container {
    .axis {
      display: none;
    }

    .chart-version {
      flex-basis: 100%;
      text-align: center;
    }
  }
}



.total-result-chart-container{
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  text-align: center;

  .total-result{
    grid-column: 2/3;
    align-self: center;
    text-align: left;
  }
}

/**************************************************
// Calculator layout End ***************************
/**************************************************/

/**************************************************
// About Us layout Start **************************
/**************************************************/

.about-us-container {
  padding: 0;
  margin: 0;
  .heading-container {
    h1 {
      margin: 0;
      padding: 0.5rem;
      text-align: center;
      // background-color: $color__green-light;
    }
  }

  p {
    margin: 0;
  }

  .who-we-are-container,
  .our-values-container {
    margin: 1rem 0;

    h2 {
      color: $color__green-dark;
      text-align: center;
      margin: 0;
    }
  }

  .about-us-container .heading-container,
  .our-team-container {
    h1 {
      color: $color__green-dark;
      // text-align: center;
    }
  }

  .our-team-container {
    text-align: center;
    h3 {
      margin: 0;
    }

    .team-tile-container {
      margin: 1.5rem 0;
    }
  }

  @media screen and (min-width: 900px) {
    .our-team-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      h1 {
        flex-basis: 100%;
      }

      .project-manager,
      .lead-developer,
      .quality-assurance,
      .lead-designer {
        flex-basis: 25%;
      }

      .designer {
        flex-basis: 25%;
      }
    }
  }
}

/**************************************************
// About Us layout End ****************************
/**************************************************/

.about-us-container {
  padding: 0;
  margin: 0;

  .heading-container {
    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .heading-container {
    position: relative;
    text-align: center;
    .img-container {
      margin-top: -1rem;
      img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
      }
    }
    .super-text-container {
      width: 100%;
      position: absolute;
      top: 1rem;
    }
    .text-container {
      margin: auto;
      max-width: 700px;
      top: 1rem;
      h1 {
        font-size: 1.5rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.1rem;
        display: block;
      }
    }
  }

  p {
    margin: 0;
  }

  .who-we-are-container,
  .our-values-container {
    margin: 1rem 0;

    h2 {
      color: $color__green-dark;
      text-align: center;
      margin: 0;
    }
  }

  .about-us-container .heading-container,
  .our-team-container {
    h1 {
      color: $color__green-dark;
      // text-align: center;
    }
  }

  .our-team-container {
    text-align: center;
    h3 {
      margin: 0;
    }

    .team-tile-container {
      margin: 1.5rem 0;
    }
  }

  @media screen and (min-width: 900px) {
    #our-values-container-id {
      margin-top: 3rem;
      div:first-child {
        text-align: center;
      }
      div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          margin-bottom: 2rem;
        }
      }
      img {
        height: auto;
        object-fit: cover;
        width: 60%;
        max-width: 80%;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    #who-we-are-container-id,
    #our-values-container-id {
      margin-top: 3rem;
      div:first-child {
        text-align: center;
      }
      div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          margin-bottom: 2rem;
        }
      }
      img {
        height: auto;
        object-fit: cover;
        width: 60%;
        max-width: 80%;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .text-container {
      h1 {
        font-size: 2.5rem !important;
      }
    }

    .our-team-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 3rem;

      h1 {
        flex-basis: 100%;
      }

      .project-manager,
      .lead-developer,
      .quality-assurance,
      .lead-designer {
        flex-basis: 25%;
      }

      .designer {
        flex-basis: 25%;
      }
    }
  }
}

/**************************************************
// About Us layout End ****************************
/**************************************************/

/**************************************************
// Contact Us layout Start ************************
/**************************************************/

.contact-us-container {
  h1 {
    text-align: center;
    flex-basis: 100%;
  }

  section {
    margin-bottom: 4rem;
  }

  .contact-section1 {
    padding-top: 1rem;

    .contact-image {
      height: auto;
      border-radius: 8%;
      border-bottom-right-radius: 40%;
      border: solid 0.275rem coral;
      padding: 0.3rem;
      filter: drop-shadow(2px 4px 6px rgb(204, 198, 196));

      @media screen and (min-width: 750px) {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  .contact-form {
    max-width: 600px;
    margin: auto;
    margin-top: 0;

    input,
    textarea {
      padding: 0.5rem;
    }

    input,
    textarea,
    button {
      max-width: 600px;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 750px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;

      .contact-form {
        min-width: 350px;
      }

      .contact-section1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    Section {
      .contact-form {
        min-width: 500px;
      }
    }
  }
}

/**************************************************
// Contact Us layout End **************************
/**************************************************/

/**************************************************
// Carbon Impact layout Start *********************
/**************************************************/
.carbon-impact-container {
  // max-width: 1200px;
  margin: 0 4rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.5rem;

  h1 {
    flex-basis: 100%;
    text-align: center;
  }

  .impact-section1 {
    flex-basis: 50%;
    margin: 0.5rem 0 1rem 0;
    padding-right: 1.5rem;
    p {
      text-align: justify;
    }
  }

  #impact-image1 {
    max-width: 50%;
    height: auto;
    border-radius: 8%;
    border-bottom-right-radius: 40%;
    border: solid 0.275rem coral;
    padding: 0.3rem;
    filter: drop-shadow(2px 4px 6px rgb(204, 198, 196));
    margin-bottom: 1rem;
  }

  .impact-section2 {
    flex-basis: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  h2,
  h3,
  h4,
  p {
    margin: 0;
    font-weight: normal;
  }

  h4 {
    font-family: $font__heading;
    color: $color__green-dark;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 700px) {
    .impact-section1,
    .impact-section2 {
      flex-basis: 100%;
    }

  }


  @media screen and (max-width: 1000px) {  
    
    .impact-section1{
      flex-basis: 100%;
    }

    #impact-image1{
      max-width: 70%;
      height: auto;
    }  
  }



}


/**************************************************
// Carbon Impact layout End ***********************
/**************************************************/
