#root {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    min-height: 75vh;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/**************************************************
// Home page layout *******************************
// Author: Dalbir Singh ***************************
***************************************************/

// Hero section

.wrapper-hero {
    padding-top: 2rem;
    // padding-bottom: 2rem;
    background-color: $color__green-screen;
    min-height: 300px;
    color: $color__green-light2;

    h1,
    h2,
    p {
        color: $color__green-light2;
    }
}

.hero-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .hero-text {
        min-width: 320px;
    }

    @media screen and (min-width: 900px) {
        .hero-text {
            flex-basis: 40%;
        }

        .hero-image {
            flex-basis: 56%;
            flex-grow: 0;

            img {
                display: block;
            }
        }
    }
 
    .hero-button {
        background-color: $color__green-light2;
        color: $color__green-dark;
    }

}


/**************************************************
// Home page layout End ***************************
/**************************************************/




/**************************************************
// Food calculator layout Start ***************************
/**************************************************/

main .food-main-container {
    max-width: 900px;
}


/**************************************************
// Food Calculator layout End ***************************
/**************************************************/