img {
  max-width: 100%;
  height: auto;
}


/* Author: Rakesh */

/* Our Team Images */
.our-team-container {
  
  .profile-image img {
    max-width: 200px;
    height: auto;
    border-radius: 6%;
    border-bottom-right-radius: 20%;
    border: solid 0.2rem coral;
    padding: 0.25rem;
    filter: drop-shadow(2px 4px 6px rgb(204, 198, 196));
  }

  .team-tile-container:nth-of-type(n + 4){
    .profile-image {
      img {
        border-color: cornflowerblue;
      }
    }
  }
}