// Theme colors
$color__green-light:#66bc39;
$color__green-dark:#00553c;
$color__grey-light:#dddddd;
$color__grey-dark:#444444;

// Dalbir colors
$color__green-light2:#effcfa;
$color__green-medium:#008060;
$color__green-screen:#0e5e4a;
$color__green-dark2:#008060;
$color__grey-new:#d2d5d9;

//Backgrounds
$color__background-input: #effcfa;
$color__background-screen: #008060;
$color__background-footer: #effcfa76;
$color__background-button: #002e25;
$color__background-button-hover: #04604e;


//Text
$color__text-main: #262f2d;
$color__text-footer: brown; 
$color__text-header: #002e25;
// $color__text-hover: 
$color__text-input: #476961;
$color__text-input-focus: #2a5148;


// Links
$color__link: #002e25;
$color__link-visited: #002e25;
$color__link-hover: #046e58;
// $color__link-footer: 
// $color__link-hover-footer:


// Borders
$color__border-grey: #d2d5d9;
$color__border-green: #008060;
$color__border-button: #002e25;
$color__border-input: #002e25;


$font__body: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font__heading: 'Arvo', Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;


$font__size_base: 16px;
$font__size-xs:    1rem / 1.3;
$font__size-sm:    1rem / 1.15;
$font__size-lg:    1rem * 1.5;
$font__size-xl:    1rem * 2;
$font__size-xxl:   1rem * 2.5;

$font__line-height-body: 1.5;
$font__line-height-heading: 1.4;