header {
    nav {
        ul {
            list-style: none;
            display: flex;
        }

        li {
            margin-left: .5rem;
            margin-right: .5rem;
            padding: 0.3rem;
        }
    }
}